html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg,
  #EB7B15 0%, #F956B3 74%);
}

.waves-divider {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waves-divider svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
}

.waves-divider .shape-fill {
  fill: #FFFFFF;
}
